{% extends "_base.html" %}

{% block content %}
<h1 class="page-title">مستودع الحجز</h1>

<div class="panel panel-default animated fadeInUp go">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">مراجعة و تحيين</h3>
		<ul class="panel-tool-options"> 
			<li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
			<li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
		</ul>
		<br><br>
		<div class='row'>
			<div class='col-lg-4'></div>
			<div class='col-lg-3'>
				<div class="panel panel-danger animated fadeInUp go" id='DeleteDetention' style="display: none;">
					<div class="panel-heading clearfix"> 
						<div class="panel-title">تأكيد الحذف ؟؟</div> 
						<ul class="panel-tool-options"> 
						</ul>  
					</div>
					<div class="panel-body">
						<div class='row'>
							<div class='col-sm-6'>
								<form action="/fourrier" method="POST">
									<input class="btn btn-outline btn-red btn-block" type="submit" value='نعم'/>
									<input type="hidden" id='DelId' name="type" value="">
									<input type="hidden" id='del_row' name="delete_row" value="">
								</form>
							</div>
							<div class='col-sm-6'>
								<a href="/fourrier" class="btn btn-outline btn-primary btn-block" type="submit">لا</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class='col-lg-5'></div>
		</div>
		<ul class="nav nav-tabs" style="float: left;"> 
			<li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">قائمة  محجوز</a></li> 
			<li class=""><a data-toggle="tab" href="#tab-2" aria-expanded="false">قائمة المستودعات</a></li> 
		</ul>
	</div>
	<div class="panel-body"> 
		<div class="tab-content">

			<div id="tab-1" class="tab-pane active">
				<div class='row'>
					
					<div class='col-lg-4'>
						<form method="get" action="/add_detention">
							<button class="btn btn-blue" type="submit"><i class="fa fa-plus"></i>&nbsp;إضافة محجوز جديد</button>
						</form>
					</div>
					<div class='col-lg-8'>
						<div class='col-lg-5'>
								<form action = "/get_fourrier_file" method = "POST" enctype = "multipart/form-data",>
									<input class="btn btn-outline btn-info btn-block" type="submit" value='إستخراج ملف المحجوز'/>
									<input type='hidden' name='type_file' value='list_detention'>
								</form>
							{% if detention_lancher %}
								<input type="text" class="form-control has-success" placeholder="{{ d_data['link'] }}", readonly/>
									<p id ="copy_link_encours" style="display: none;">{{ d_data['link'] }}</p>
									<input class="btn btn-link btn-outline btn-block" type="button" value='نسخ الرابط' onclick="copyToClipboard('#copy_link_encours')"/>
									{% if d_data['check_r_id'] and d_data['api_key'] %}
									<form action = "/get_fourrier_file/api" method = "POST" enctype = "multipart/form-data">
										<input class="btn btn-blue btn-outline btn-block" value='نشر فالمنصة' type="submit" name='open_api'>
										<input type="hidden" name="r_id" value="{{d_data['id']}}">
										<input type="hidden" name="file_type" value="{{d_data['type']}}">
										<input type="hidden" name="link" value="{{d_data['link']}}">

									</form>
									{% elif d_data['check_r_id'] %}
									<p><code>لا يوجد لديك API key</code> إضافة من <a href="/profile">هنا</a></p>
									{% elif d_data['api_key'] %}
									<p><code>ليس هنالك معرف الملف </code> التحيين من <a href="/file_ressources/fourrier/{{d_data['id']}}">هنا</a></p> 
									{% else %}
									<div class="col-lg-4">
										<p><code>لا يوجد لديك API key</code> إضافة من <a href="/profile">هنا</a></p>
										<p><code>ليس هنالك معرف الملف </code> التحيين من <a href="/file_ressources/fourrier/{{d_data['id']}}">هنا</a></p>
									</div>
									{% endif %}
							{% endif %}
						</div>
						<div class='col-lg-2'></div>
						<div class='col-lg-5'>
								<form action = "/get_fourrier_file" method = "POST" enctype = "multipart/form-data",>
									<input class="btn btn-outline btn-info btn-block" type="submit" value='إستخراج ملف أرشيف المحجوز '/>
									<input type='hidden' name='type_file' value='list_archive'>
								</form>
							{% if archive_lancher %}
								<input type="text" class="form-control has-success" placeholder="{{ d_data['link'] }}", readonly/>

									<p id ="copy_link_encours" style="display: none;">{{ d_data['link'] }}</p>
									<input class="btn btn-link btn-outline btn-block" type="button" value='نسخ الرابط' onclick="copyToClipboard('#copy_link_encours')"/>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="line-dashed"></div>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover dataTables-example" id="myTable">
						<thead>
							<tr>
								<th>تاريخ الحجز</th>
								<th>أسباب الحجز</th>
								<th>اسم واللقب صاحب المحجوز</th>
								<th>الجهة التي صدر منها الاذن بالحجز</th>
								<th>نوع المحجوز</th>
								<th>الترقيم المنجمي</th>
								<th>مستودع الحجز</th>
								<th>حالة المحجوز</th>
								<th>تحيين</th>
								<th>حذف</th>
							</tr>
						</thead>
						<tbody>
							{% for d in detention_data %}
							<tr class="gradeA">
								<td>{{d['Date_Detention']}}</td>
								<td>{{d['Cause_Detention']}}</td>
								<td>{{d['Name_Owner']}}</td>
								<td>{{d['Authority_Detention']}}</td>
								<td>{{d['Type_Detention']}}</td>
								<td>{{d['Registration_Detention']}}</td>
								<td>{{d['Name_Fourrier']}}</td>
								<td>{{d['Status_Detention']}}</td>
								<form action="/update_detention" method="POST">
									<td>
										<button class="btn btn-default" type="submit" name='shit' value='تحيين'/><i class="fa fa-edit" data-unicode="f084" style="color:#33ccff"></i></button>
										<input type="hidden" name="d_id" value="{{d['id']}}">
									</td>
								</form>
								<td>
									<p id="copy_{{d['id']}}" style="display: none;">{{d['id']}}</p>
									<button id='btndel' class="btn btn-red" value="{{d['id']}}" type="button" onclick="Deletefunction({{d['id']}})"><span class="glyphicon glyphicon-trash"></span></button>
									<input type="hidden" id="copy_{{d['id']}}" name="d_id" value="{{d['id']}}">
									<input type="hidden" id='ref_del' name="delete_row" value="delete_row_detention">
								</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>تاريخ الحجز</th>
								<th>أسباب الحجز</th>
								<th>اسم واللقب صاحب المحجوز</th>
								<th>الجهة التي صدر منها الاذن بالحجز</th>
								<th>نوع المحجوز</th>
								<th>الترقيم المنجمي</th>
								<th>مستودع الحجز</th>
								<th>حالة المحجوز</th>
								<th>تحيين</th>
								<th>حذف</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
			<div id="tab-2" class="tab-pane">
				<div class='row'>
					<div class='col-lg-4'>
						<form method="get" action="/add_fourrier">
							<button class="btn btn-blue" type="submit"><i class="fa fa-plus"></i>&nbsp;إضافة مستودع جديد</button>
						</form>
					</div>
					<div class='col-lg-8'>
						<form action = "/get_fourrier_file" method = "POST" enctype = "multipart/form-data",>
							<input class="btn btn-outline btn-success btn-block" type="submit" value='إستخراج الملفات'/>
							<input type='hidden' name='type_file' value='list_fourrier'>
						</form>
						{% if fourrier_lancher %}
						<div class='row'>
							<div class='col-sm-5'>
								<input type="text" class="form-control has-success" placeholder="{{ f_data['link'] }}", readonly/>
							</div>
							<div class='col-sm-3'>
								<p id ="copy_link_encours" style="display: none;">{{ f_data['link'] }}</p>
								<input class="btn btn-link btn-outline btn-block" type="button" value='نسخ الرابط' onclick="copyToClipboard('#copy_link_encours')"/>
							</div>
							<div class='col-sm-3'>
								{% if f_data['check_r_id'] and f_data['api_key'] %}
								<form action = "/get_fourrier_file/api" method = "POST" enctype = "multipart/form-data">
									<input class="btn btn-blue btn-outline btn-block" value='نشر فالمنصة' type="submit" name='open_api'>
									<input type="hidden" name="r_id" value="{{f_data['id']}}">
									<input type="hidden" name="file_type" value="{{f_data['type']}}">
									<input type="hidden" name="link" value="{{f_data['link']}}">

								</form>
								{% elif f_data['check_r_id'] %}
								<p><code>لا يوجد لديك API key</code> إضافة من <a href="/profile">هنا</a></p>
								{% elif f_data['api_key'] %}
								<p><code>ليس هنالك معرف الملف </code> التحيين من <a href="/file_ressources/fourrier/{{f_data['id']}}">هنا</a></p>
								{% else %}
								<div class="col-lg-4">
									<p><code>لا يوجد لديك API key</code> إضافة من <a href="/profile">هنا</a></p>
									<p><code>ليس هنالك معرف الملف </code> التحيين من <a href="/file_ressources/fourrier/{{f_data['id']}}">هنا</a></p>
								</div>
								{% endif %}
							</div>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="line-dashed"></div>
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover dataTables-example" id="myTable2">
						<thead>
							<tr>
								<th>إسم مستودع الحجز </th>
								<th>عنوان  مستودع الحجز</th>
								<th>Longitude</th>
								<th>Laltitude</th>
								<th>تحيين</th>
								<th>حذف</th>
							</tr>
						</thead>
						<tbody>
							{% for d in fourrier_data %}
							<tr class="gradeA">
								<td>{{d['Name_Fourrier']}}</td>
								<td>{{d['Address_Fourrier']}}</td>
								<td>{{d['Longitude']}}</td>
								<td>{{d['Laltitude']}}</td>
								<form action="/update_fourrier" method="POST">
									<td>
										<button class="btn btn-default" type="submit" name='shit' value='تحيين'/><i class="fa fa-edit" data-unicode="f084" style="color:#33ccff"></i></button>
										<input type="hidden" name="f_id" value="{{d['id']}}">
									</td>
								</form>
								<td>
									<button  class="btn btn-red" value="{{d['id']}}" type='button' onclick="Deletefunction2({{d['id']}})"><span class="glyphicon glyphicon-trash"></span></button>
									<input type="hidden" id='id_del_f' name="d_id" value="{{d['id']}}">
									<input type="hidden" id='ref_del_f' name="delete_row" value="delete_row_fourrier">
								</td>
							</tr>
							{% endfor %}
						</tbody>
						<tfoot>
							<tr>
								<th>إسم مستودع الحجز </th>
								<th>عنوان  مستودع الحجز</th>
								<th>Longitude</th>
								<th>Laltitude</th>
								<th>تحيين</th>
								<th>حذف</th>
							</tr>
						</tfoot>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
	$('#myTable').DataTable({
		"pagingType": "full_numbers",
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "الكل"]],
		"language": {
			"lengthMenu": "عرض _MENU_ محجوز لكل صفحة",
			"zeroRecords": "لا توجد سجلات متاحة",
			"info": "عرض محجوز  _PAGE_ من _PAGES_",
			"infoEmpty": "لا توجد سجلات متاحة",
			"infoFiltered": "(تصفيتها من _MAX_ سجل)",
			"search": "بحث:",
			"paginate": {
				"previous": "السابق",
				"next":"التالى",
				"last":"الاخير",
				"first":"أول"
			}
		}
	});
} );

$(document).ready(function() {
	$('#myTable2').DataTable({
		"pagingType": "full_numbers",
		"lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "الكل"]],
		"language": {
			"lengthMenu": "عرض _MENU_ مستودع لكل صفحة",
			"zeroRecords": "لا توجد سجلات متاحة",
			"info": "عرض مستودع  _PAGE_ من _PAGES_",
			"infoEmpty": "لا توجد سجلات متاحة",
			"infoFiltered": "(تصفيتها من _MAX_ سجل)",
			"search": "بحث:",
			"paginate": {
				"previous": "السابق",
				"next":"التالى",
				"last":"الاخير",
				"first":"أول"
			}
		}
	});
} );

function Deletefunction(element){
	console.log(element); 
	$('#DeleteDetention').css({
		'display': 'block',
	})
	$('#DelId').val(element)
	$('#del_row').val(document.getElementById("ref_del").value)
	document.body.scrollTop = 0;
	document.documentElement.scrollTop = 0; 
}

function Deletefunction2(element){
	console.log(element); 
	$('#DeleteDetention').css({
		'display': 'block',
	})
	$('#DelId').val(element)
	$('#del_row').val(document.getElementById("ref_del_f").value)
	document.body.scrollTop = 0;
	document.documentElement.scrollTop = 0; 
}

function copyToClipboard(element) {
	var $temp = $("<input>");
	$("body").append($temp);
	$temp.val($(element).text()).select();
	document.execCommand("copy");
	$temp.remove();
	alert("تم النسخ الرابط");

}
</script>
{% endblock %}
