{% extends "_base.html" %}

{% block content %}

<h1>الملف الشخصي</h1>
<br>

{% if current_user.is_authenticated() %}
  <p>البريد الالكتروني: {{current_user.email}}</p>
  <p>الاسم : {{current_user.name}}</p>
  <p>اللقب : {{current_user.last_name}}</p>
  <p>البلدية : {{mun}}</p>
{% endif %}

<h2>تغير كلمة السر</h2>
<br>
<form class="form-reset" role="form" method="post" action="">
  {{ form.csrf_token }}
  <p>
    {{ form.password(placeholder="كلمة السر الجديدة") }}
    <span class="error">
      {% if form.password.errors %}
        {% for error in form.password.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <p>
  {{ form.confirm(placeholder="تأكيد كلمة السر") }}
    <span class="error">
      {% if form.confirm.errors %}
        {% for error in form.confirm.errors %}
          {{ error }}
        {% endfor %}
      {% endif %}
    </span>
  </p>
  <button class="btn btn-success" type="submit">Update</button>
</form>


{% endblock %}