{% extends "_base.html" %}

{% block content %}

<h1>مرحباً بك في فضاء التطبيقات الخاص بالبلديات !</h1>
<br>
<p>لقد تم إرسال المطلب بنجاح </p>
<p>وسيتصل بك فريق ONSHOR في أحسن الأجال </p>
        <!-- <p>وسوف يتصل بك فريق أنشر في قريب العاجل</p> -->
<p>لمزيد المعلومات  الرجاء الاتصال برنامج أنشر عالبريد الإلكتروني <strong>contact@onshor.org</strong></p>
<!--           <p>أو بالهاتف القار:  36330375 216+</p>
          <p>أو بالهاتف المحمول:  29761033 216+</p> -->
<!-- <p>لم أحصل على البريد الإلكتروني? <a href="{{ url_for('user.resend_confirmation') }}">إعادة إرسال</a>.</p>
 -->
{% endblock %}