{% extends "_base.html" %}
{% block content %}
<div class="panel panel-default animated fadeInUp go">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">قائمة البلديات</h3>
    <ul class="panel-tool-options"> 
      <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
      <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
      <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
    </ul>
  </div>
  <div class='row'>
    <div class='col-lg-4'></div>
    <div class='col-lg-3'>
      <div class="panel panel-danger animated fadeInUp go" id='DeletePanel' style="display: none;">
        <div class="panel-heading clearfix"> 
          <div class="panel-title">تأكيد الحذف ؟؟</div> 
          <ul class="panel-tool-options"> 
          </ul>  
        </div>
        <div class="panel-body">
          <div class='row'>
            <div class='col-sm-6'>
              <form action="/admin/admin_mun" method="POST">
                <input class="btn btn-outline btn-red btn-block" type="submit" value='نعم'/>
                <input type="hidden" id='DelId' name="id" value="">
                <input type="hidden" id='del_row' name="deleting" value="">
              </form>
            </div>
            <div class='col-sm-6'>
              <a href="/admin/admin_mun" class="btn btn-outline btn-primary btn-block" type="submit">لا</a>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-info animated fadeInUp go" id='Ac_mun' style="display: none;">
        <div class="panel-heading clearfix"> 
          <div class="panel-title">تأكيد توقيع الإتفاقية ؟؟</div> 
          <ul class="panel-tool-options"> 
          </ul>  
        </div>
        <div class="panel-body">
          <div class='row'>
            <div class='col-sm-6'>
              <form action="/admin/admin_mun" method="POST">
                <input class="btn btn-outline btn-success btn-block" href="#" type="submit" value='نعم'/>
                <input type="hidden" id='mun_Id_confirm' name="id" value="">
                <input type="hidden" id='del_row' name="mun_act" value="">
              </form>
            </div>
            <div class='col-sm-6'>
              <a href="/admin/admin_mun" class="btn btn-outline btn-red btn-block" type="submit">لا</a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-danger animated fadeInUp go" id='Dac_mun' style="display: none;">
        <div class="panel-heading clearfix"> 
          <div class="panel-title">تأكيد حذف الإتفاقية ؟؟</div> 
          <ul class="panel-tool-options"> 
          </ul>  
        </div>
        <div class="panel-body">
          <div class='row'>
            <div class='col-sm-6'>
              <form action="/admin/admin_mun" method="POST">
                <input class="btn btn-outline btn-success btn-block" href="#" type="submit" value='نعم'/>
                <input type="hidden" id='user_Id_deconfirm' name="id" value="">
                <input type="hidden" id='del_row' name="mun_dact" value="">
              </form>
            </div>
            <div class='col-sm-6'>
              <a href="/admin/admin_mun" class="btn btn-outline btn-red btn-block" type="submit">لا</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-lg-5'></div>
  </div>
  <div class="panel-body" id='freeze_zone'>
    <div class='row'>
      <!--       <form method="get" action="/admin/add_mun"> -->
      <a href="/admin/add_mun" class="btn btn-blue" type="submit"><i class="fa fa-plus"></i>&nbsp;إضافة بلدية جديد</a>
      <!--           </form> -->
    </div>
  <div class="line-dashed"></div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover dataTables-example datatbl" id="myTable">
      <thead>
        <tr>
          <th>المعرف</th>
          <th>الولاية</th>
          <th>الاسم بالعربية</th>
          <th>الاسم بالفرنسية</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>الإتفاقية</th>
          <th>تحيين</th>
          <th>فسخ</th>
        </tr>
      </thead>
      <tbody>
        {% for d in  list_mun %}
        <tr class="task-list-row" 
        data-assigned-user="{{d['search_name']}}"
        data-status="{{d['municipal_state']}}"
        {% if d['approved'] %}
        data-milestone="وقعت"
        {% else %}
        data-milestone="غير موقع"
        {% endif %}>
        <td>{{d['municipal_id']}}</td>
        <td>{{d['municipal_state']}}</td>
        <td>{{d['municipal_name_ar']}}</td>
        <td>{{d['municipal_name']}}</td>
        <td>{{d['municipal_lat']}}</td>
        <td>{{d['municipal_long']}}</td>
        <td>{% if d['approved'] %}
          <button class="btn btn-success" value="{{d['imunicipal_id']}}" type='button' onclick="Dactfunction({{d['municipal_id']}})" ><i class="fa fa-check" >&nbspوقعت </i></button>
          {% else %}
          <button class="btn btn-danger" value="{{d['municipal_id']}}" type='button' onclick="Actfunction({{d['municipal_id']}})" ><i class="fa fa-remove">&nbspغير موقع</i></button>
          {% endif %}
        </td>
        <td>
          <button class="btn btn btn-default" type='button'><a href="/admin/mun/edit/{{d['municipal_id']}}"><i class="fa fa-edit" data-unicode="f084" style="color:#33ccff"></i></a></button>
        </button>
      </td>
      <td>
        <button  class="btn btn-red" value="{{d['municipal_id']}}" type='button' onclick="Deletefunction2({{d['municipal_id']}})">
          <span class="glyphicon glyphicon-trash">
          </span>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
    </tr>
  </tfoot>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
  $('#myTable').DataTable({
   "pagingType": "full_numbers",
   "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
   "language": {
    "lengthMenu": "عرض _MENU_ بلدية لكل صفحة",
    "zeroRecords": "لا شيء وجد",
    "info": "عرض صفحة  _PAGE_ من _PAGES_",
    "infoEmpty": "لا توجد سجلات متاحة",
    "infoFiltered": "(تصفيتها من _MAX_ سجل)",
    "search": "بحث:",
    "paginate": {
      "previous": "السابق",
      "next":"التالى",
      "last":"الاخير",
      "first":"أول"
    }
  }
});
} );
function Dactfunction(element){
  console.log(element);
  $('#Dac_mun').css({
    'display': 'block',
  })
  $('#user_Id_deconfirm').val(element)
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

function Actfunction(element){
  console.log(element);
  $('#Ac_mun').css({
    'display': 'block',
  })
  $('#mun_Id_confirm').val(element)
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

function Deletefunction2(element){
  console.log(element)
  $('#DeletePanel').css({
    'display': 'block',
  })
  $('#DelId').val(element)
  $('#del_row').val(document.getElementById("ref_del").value)
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
{% endblock %}