{% extends "_base.html" %}
{% block content %}
<div class="panel panel-default animated fadeInUp go">
  <div class="panel-heading clearfix">
    <h3 class="panel-title">قائمة المستخدمين</h3>
    <ul class="panel-tool-options"> 
      <li><a data-rel="collapse" href="#"><i class="icon-down-open"></i></a></li>
      <li><a data-rel="reload" href="#"><i class="icon-arrows-ccw"></i></a></li>
      <li><a data-rel="close" href="#"><i class="icon-cancel"></i></a></li>
    </ul>
  </div>
  <div class="panel-body">
    <div class='row'>
      <div class='col-lg-4'></div>
      <div class='col-lg-3'>
        <div class="panel panel-info animated fadeInUp go" id='Activate_user' style="display: none;">
          <div class="panel-heading clearfix"> 
            <div class="panel-title">تأكيد تفعيل الحساب</div> 
            <ul class="panel-tool-options"> 
            </ul>  
          </div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>
                <form action="/admin" method="POST">
                  <input class="btn btn-outline btn-success btn-block" type="submit" value='نعم'/>
                  <input type="hidden" id='user_Id_activate' name="id" value="">
                  <input type="hidden" id='del_row' name="activate_user" value="activate_user">
                </form>
              </div>
              <div class='col-sm-6'>
                <a href="/admin" class="btn btn-outline btn-red btn-block" type="submit">لا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-warning animated fadeInUp go" id='Cancel_user' style="display: none;">
          <div class="panel-heading clearfix"> 
            <div class="panel-title">تأكيد إلغاء الحساب</div> 
            <ul class="panel-tool-options"> 
            </ul>  
          </div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>
                <form action="/admin" method="POST">
                  <input class="btn btn-outline btn-success btn-block" type="submit" value='نعم'/>
                  <input type="hidden" id='user_Id_cancel' name="id" value="">
                  <input type="hidden" id='del_row' name="cancel_user" value="cancel_user">
                </form>
              </div>
              <div class='col-sm-6'>
                <a href="/admin" class="btn btn-outline btn-red btn-block" type="submit">لا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-info animated fadeInUp go" id='Ac_user' style="display: none;">
          <div class="panel-heading clearfix"> 
            <div class="panel-title">تأكيد الاعتماد</div> 
            <ul class="panel-tool-options"> 
            </ul>  
          </div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>
                <form action="/admin" method="POST">
                  <input class="btn btn-outline btn-success btn-block" type="submit" value='نعم'/>
                  <input type="hidden" id='user_Id_confirm' name="id" value="">
                  <input type="hidden" id='del_row' name="activer" value="activer">
                </form>
              </div>
              <div class='col-sm-6'>
                <a href="/admin" class="btn btn-outline btn-red btn-block" type="submit">لا</a>
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-danger animated fadeInUp go" id='DeletePanel' style="display: none;">
          <div class="panel-heading clearfix"> 
            <div class="panel-title">تأكيد الحذف ؟؟</div> 
            <ul class="panel-tool-options"> 
            </ul>  
          </div>
          <div class="panel-body">
            <div class='row'>
              <div class='col-sm-6'>
                <form action="/admin" method="POST">
                  <input class="btn btn-outline btn-red btn-block" type="submit" value='نعم'/>
                  <input type="hidden" id='DelId' name="id" value="">
                  <input type="hidden" id='del_row' name="deleting" value="">
                </form>
              </div>
              <div class='col-sm-6'>
                <a href="/admin" class="btn btn-outline btn-primary btn-block" type="submit">لا</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-lg-5'></div>
    </div>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover dataTables-example datatbl responsive" id="myTable">
    <thead>
      <tr>
        <th>إسم و لقب</th>
        <th>الصفة</th>
        <th>البلدية</th>
        <th>البريد الإلكتروني</th>
        <th>رقم الهاتف</th>
        <th>تاريخ ووقت آخر تسجيل دخول</th>
        <th>تاريخ التسجيل</th>
        <th>الدور</th>
        <th>حالة الحساب</th>
        <th>تفعيل أو <br>إلغاء الحساب</th>
        {% if current_user.admin or current_user.municipal_admin%}
        <th>تغيير كلمة <br>سر المستعمل</th>
        <th>تحيين</th>
        <th>فسخ</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% if current_user.admin %}
      {% for d in  list_user%}
      <tr class="gradeA">
        <td>{{d['name']}}  {{d['last_name']}}</td>
        <td>{{d['work_position']}}</td>
        <td>{{d['municipality']}}</td>
        <td>{{d['email']}}</td>
        <td>{{d['phone_number']}}</td>
        <td>{{d['last_login']}}</td>
        <td>{{d['register_on']}}</td>
        <td>
          {% if d['admin'] %}
          مشرف على منظومة
          {% elif d['municipal_admin'] %}
          مشرف على البلدية
          {% else %}
          مستخدم بلدي عادي
          {% endif %}
        </td>
        <td>{% if d['confirmed'] %}
          <i class="fa fa-check" style='color:green'>&nbspحساب معتمد</i>
          {% else %}
          <button class="btn btn-info" value="{{d['id']}}" type='button' onclick="Actfunction({{d['id']}})" ><i class="fa fa-remove">&nbspإعتماد الحساب</i></button>
          {% endif %}
        </td>
          <td>
            {% if d['activate'] %}
            <button class="btn btn btn-danger" value="{{d['id']}}" type='button' onclick="Cancelfunction({{d['id']}})">إلغاء</button>
            {% else %}
            <button class="btn btn-success" value="{{d['id']}}" type='button' onclick="Activatefunction({{d['id']}})" >تفعيل</button>
            {% endif %}
          </td>
          <td><button class="btn btn btn-default" type='button'><a href="/admin/editpwd/{{d['id']}}"><i class="fa fa-key" data-unicode="f084" style="color:blue"></i></a></button></td>
          <td><button class="btn btn btn-default" type='button'><a href="/admin/user/edit/{{d['id']}}"><i class="fa fa-edit" data-unicode="f084" style="color:#33ccff"></i></a></button></td>
          <td>
            <button  class="btn btn-red" value="{{d['id']}}" type='button' onclick="Deletefunction2({{d['id']}})">
              <span class="glyphicon glyphicon-trash">
              </span>
            </button>
          </td>
        </tr>
        {% endfor %}
        {% elif current_user.municipal_admin %}
        {% for d in  list_user%}
        <tr class="gradeA">
          {% if current_user.municipal_id == d['municipal_id']%}
          <td>{{d['name']}}  {{d['last_name']}}</td>
          <td>{{d['work_position']}}</td>
          <td>{{d['municipality']}}</td>
          <td>{{d['email']}}</td>
          <td>{{d['phone_number']}}</td>
          <td>{{d['last_login']}}</td>
          <td>{{d['register_on']}}</td>
          <td>
            {% if d['admin'] %}
            مشرف على منظومة
            {% elif d['municipal_admin'] %}
            مشرف على البلدية
            {% else %}
            مستخدم بلدي عادي
            {% endif %}
          </td>
          <td>{% if d['confirmed'] %}
            <i class="fa fa-check" style='color:green'>&nbspحساب معتمد</i>
            {% else %}
            <button class="btn btn-info" value="{{d['id']}}" type='button' onclick="Actfunction({{d['id']}})" ><i class="fa fa-remove">&nbspإعتماد الحساب</i></button>
            {% endif %}</td>
            <td>
              {% if d['activate'] %}
              <button class="btn btn btn-danger" value="{{d['id']}}" type='button' onclick="Cancelfunction({{d['id']}})">إلغاء</button>
              {% else %}
              <button class="btn btn-success" value="{{d['id']}}" type='button' onclick="Activatefunction({{d['id']}})" >تفعيل</button>
              {% endif %}
            </td>
            <td><button class="btn btn btn-default" type='button'><a href="/admin/editpwd/{{d['id']}}"><i class="fa fa-key" data-unicode="f084" style="color:blue"></i></a></button></td>
            <td><button class="btn btn btn-default" type='button'><a href="/admin/user/edit/{{d['id']}}"><i class="fa fa-edit" data-unicode="f084" style="color:#33ccff"></i></a></button></td>
            <td>
              <button  class="btn btn-red" value="{{d['id']}}" type='button' onclick="Deletefunction2({{d['id']}})">
                <span class="glyphicon glyphicon-trash">
                </span>
              </button>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
          {% else %}
          {% for d in  list_user%}

          <tr class="gradeA">
            {% if current_user.municipal_id == d['municipal_id']%}
            <td>{{d['name']}}  {{d['last_name']}}</td>
            <td>{{d['work_position']}}</td>
            <td>{{d['municipality']}}</td>
            <td>{{d['email']}}</td>
            <td>{{d['phone_number']}}</td>
            <td>{{d['last_login']}}</td>
            <td>{{d['register_on']}}</td>
            <td>
              {% if d['admin'] %}
              مشرف على منظومة
              {% elif d['municipal_admin'] %}
              مشرف على البلدية
              {% else %}
              مستخدم بلدي عادي
              {% endif %}
            </td>
            <td>{% if d['confirmed'] %}
              <i class="fa fa-check" style='color:green'>&nbspحساب معتمد</i>
              {% else %}
              <i class="fa fa-remove">&nbspإعتماد الحساب</i>
              {% endif %}</td>
              <td>
                {% if d['activate'] %}
                <i class="fa fa-check" style='color:green'>&nbspمفعل</i>
                {% else %}
                <i class="fa fa-remove">&nbspملغى</i>
                {% endif %}
              </td>
              {% endif %}

              {% endfor %}
              {% endif %}

            </tbody>
            <tfoot>
              <tr>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block js %}




    <script>
    $(document).ready(function() {
      $('#myTable').DataTable({
           "pagingType": "full_numbers",
           "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "الكل"]],
           "language": {
            "lengthMenu": "عرض _MENU_ مستخدم لكل صفحة",
            "zeroRecords": "لا شيء وجد",
            "info": "عرض صفحة  _PAGE_ من _PAGES_",
            "infoEmpty": "لا توجد سجلات متاحة",
            "infoFiltered": "(filtered from _MAX_ total records)",
            "search": "بحث:",
            "paginate": {
              "previous": "السابق",
              "next":"التالى",
              "last":"الاخير",
              "first":"أول"
            }
        }
         });
    } );
    function Deletefunction2(element){
      console.log(element)
      $('#DeletePanel').css({
        'display': 'block',
      })
      $('#DelId').val(element)
      $('#del_row').val(document.getElementById("ref_del").value)
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    function Cancelfunction(element){
      console.log(element);
      $('#Cancel_user').css({
        'display': 'block',
      })
      $('#user_Id_cancel').val(element)
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    function Activatefunction(element){
      console.log(element);
      $('#Activate_user').css({
        'display': 'block',
      })
      $('#user_Id_activate').val(element)
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

    function Actfunction(element){
      console.log(element);
      $('#Ac_user').css({
        'display': 'block',
      })
      $('#user_Id_confirm').val(element)
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
    {% endblock %}
