<p>تحيّة طيبّة {{user.name}}  {{user.last_name}}،</p>
<br>
<p>
على إثر عمليّة التسجيل التي قمتم بها على منصّة البيانات المفتوحة للبلديّات، يشّرفنا إعلامكم إنّه قد تمّ تفعيل حسابكم وأنه بإمكانكم استعمال البوّابة لنشر البيانات التي تنتجها البلديّة في شكل مفتوح.

لحسن استغلال هذه البوّابة يرجى تحميل دليل الاستعمال المناسب من خلال الروابط التالية :</p>
<br>
<p>-إستعمال البوّابة : http://app.openbaladiati.tn/static/files/OpenBaladiati_Platform_Guide.pdf</p>
<p>-إستعمال أدوات البيانات المفتوحة : http://app.openbaladiati.tn/static/files/OpenBaladiati_App_Guide.pdf</p>
<br>
<p>لأكثر تفاصيل يمكنكم التواصل معنا على عنوان البريد الإلكتروني<strong>contact@onshor.org</strong></p>
<br>
<p>أو التواصل معنا على رقم الهاتف 0021636330374</p>
<br>

<p>والسلاّم ،</p>

<p>فريق برنامج أنشر</p>